/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.hasLayout, .contain {
    *zoom:1;
}

.contain:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
